<div class="caixa">

  <svg width="50" height="50" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_216_936)">
      <path d="M18.125 21.25L11.875 15L18.125 8.75" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
    </g>

    <defs>
      <clipPath id="clip0_216_936">
        <rect width="50" height="50" fill="white" />
      </clipPath>
    </defs>
  </svg>

  <p>Desenvolvimento de projeto faculdade</p>

  <svg width="50" height="50" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_216_944)">
      <path d="M11.875 8.75L18.125 15L11.875 21.25" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
    </g>
    <defs>
      <clipPath id="clip0_216_944">
        <rect width="50" height="50" fill="white" />
      </clipPath>
    </defs>
  </svg>

</div>